.feed {
  flex: 5.5;
}

.feedWrapper {
  padding: 20px;
}

.noPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noPostsText {
  font-size: 32px;
  font-weight: 300;
}

.noPostsIcon {
  padding: 50px 0 20px 0;
  font-size: 70px !important;
}
