.commentHeader {
  display: flex;
  align-items: center;
}

.commentFormInput {
  width: 100%;
}

.commentInput {
  width: 92%;
  font-size: 18px;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(245, 241, 241);
}
.commentInput:focus {
  outline: none;
}

.userCommentContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.commentBody {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: rgb(245, 241, 241);
  color: black;
  max-width: 300px;
}

.commentBodyName {
  font-weight: 500;
}

.commentBodyName:hover {
  text-decoration: underline;
}

.commentBodyIcon {
  color: rgb(112, 111, 111);
  cursor: pointer;
}
