.searchLeft {
  flex: 6;
}

.searchRight {
  flex: 6;
}

.searchUsersCard {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 50px 20px 30px 20px;
}

.searchUsersWrapper {
  padding: 20px;
}

.searchUsersList {
  display: flex;
  align-items: center;
}

.searchUsersList:hover {
  text-decoration: underline;
}

.searchUsersImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 25px;
}

.searchUsersName {
  font-size: 20px;
  font-weight: 500;
}

.searchUserHr {
  margin: 20px 0;
  border: 1px solid rgb(182, 184, 182);
}

.searchTerm {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 400;
}

.searchText {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  top: 10%;
  font-size: 50px;
  color: rgb(170, 167, 167);
  cursor: default;
}

.postsText {
  margin-top: 30px;
  margin-bottom: -20px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 700;
}

.noUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noUsersTextTitle {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 500;
  color: rgb(110, 109, 109);
}

.noUsersText {
  font-size: 20px;
  font-weight: 400;
  color: rgb(117, 116, 116);
}
